<div class="panel panel-default hero-feature whitebox shadow">
<div class="panel-body">
<div><h3><%= @user.name %></h3></div>
<div><%= "#{@user.street_address}, #{@user.city}, #{@user.district.state.name}" %></div>
</div>
</div>

<h3>Your Representatives</h3>

    <div id="main-container" class="container-fluid">
      <div class="row">
      <br>
      <br>
          <%= render @user.representative %>
          <%= render @user.senior_sen %>
          <%= render @user.junior_sen %>
        
    </div>
    </div>
  <br>

