<h1>Welcome to your homepage!</h1>

<h3>Your information:</h3>

<ul>
  <li>Name: <%= @user.name %></li>
  <li>Address: <%= "#{@user.street_address}, #{@user.city}, #{@user.district.state.name}" %></li>
</ul>

<h3>Your Representatives</h3>

    <div id="main-container" class="container-fluid">
      <div class="row">
      <br>
      <br>
          <%= render @user.representative %>
          <%= render @user.senior_sen %>
          <%= render @user.junior_sen %>
        
    </div>
    </div>
  <br>

