
    <div id="main-container" class="container-fluid">
      <div class="row">
      <br>
      <br>
        <div id="sidebar" class="panel panel-default col-xs-3">
        <div class="panel body">
          <%= link_to image_tag("#{politician.image_name}"), politician_path(politician) %>
          </div>
        </div>
        <div id="content" class="panel panel-default col-xs-9">
        <div class="panel body">
          <h3><%= politician.full_name  %></h3>
          <p>Political Party: <%= politician.chamber.capitalize %></p>
          <p>Age: <%= politician.age %></p>
          <p>Prior Experience: </p>
          <p>Education:</p>
          <p>Email: </p>
          <p>Facebook: <%= politician.facebook %></p>
          <p>Youtube: <%= politician.youtube %></p>
          <p>Twitter: <%= politician.twitter %></p>
          <p><%= politician.house_or_senate %></p>

        </div>
      </div>
    </div>
    </div>
  <br>
