

<div class="panel panel-default col-xs-3 hero-feature whitebox shadow">
  <div class="thumbnail">
  <% image_url = "/assets/#{politician.image_name}" %>
      <img src=<%="#{image_url}"%> alt=""></div>
      <div class="caption">
          <div><h3><%= politician.full_name  %></h3></div>
          <div><h4><%= politician.house_or_senate %></h4></div>
          <div>Age: <%= politician.age %></div>
          <div>Prior Experience: </div>
          <div>Education:</div>
          <br>
          <div><a class="btn btn-lg btn-twitter" target="_blank" href="https://twitter.com/<%= politician.twitter %>">
            <span class="fa fa-twitter"></span>
          </a>
          <a class="btn btn-lg btn-facebook" target="_blank" href="https://facebook.com/<%= politician.facebook %>">
            <span class="fa fa-facebook"></span>
          </a>
          <a class="btn btn-lg btn-primary" target="_blank" href="https://www.youtube.com/user/<%= politician.youtube %>">
            <span class="fa fa-youtube"></span>
          </a>
          </div>
      </div>
  <br>
</div>
