
<h3>Query All Politicians:</h3>
<%= form_tag '/politicians', method: "GET" do %>
<div>Search by:<%= select_tag "query[search_by]", options_for_select(Politician::SEARCH_HASH)%>
Value: <%= text_field_tag "query[search_value]" %>
Filter By: <%= select_tag "query[search_filter][]", options_for_select(Politician::FILTER_BY), multiple: true %>


<%= submit_tag 'Search' %></div>
<% end %>


<h1>Politicians</h1>
<br>


<%= render @politicians %>


